body{
    
}

.menu{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}


.btn{
    padding: 8px 15px;
    border-radius: 6px;
    background-color: #eee;
    cursor: pointer;

}

.cor{
    border-bottom: 10px blue solid;
    margin-top: 10px;
}


.pai{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: gray;

   
}

.filho{
}